.message {
  padding: 10px;
  margin: 10px;
  width: fit-content;
}
.message__user {
  margin-left: auto;
  text-align: right;
}
.message__userCard {
  background: #0199f9 !important;
  color: #e9e9eb !important;
}
.message__guestCard {
  background: #e9e9eb !important;
}
